<div class="add-from-wrapper">
  <div class="input-title-wr">
  <input class="input-title"
    type="text"
    placeholder="Введите заголовок"
    [(ngModel)]="title"
  >
  <select [(ngModel)]="priority">
    <option [value]="idx" *ngFor="let value of todosService.priorityList; let idx = index">Приоритет: {{ value }}</option>
  </select>
  <input type="date"
         ngModel="string"
         required="true"
         [(ngModel)]="date"
  >
  </div>
  <div class="input-description">
  <input
         type="text"
         placeholder="Введите описание"
         [(ngModel)]="text"
  >
  </div>
<button type="submit" (click)="addTodo()">Добавить</button>
</div>
