<div class="add-from-wrapper">
<form [formGroup]="todoForm" (submit)="addTodo()">
    <div class="input-title-wr">
    <input class="input-title"
      type="text"
      [placeholder]="!this.formInvalid? 'Введите  заголовок' : 'Заголовок обязателен!'"
      formControlName="title"
    >
    <select formControlName="priority">
      <option
        [value]="idx"
        *ngFor="let value of todosService.priorityList; let idx = index"
      >Приоритет: {{ value }}</option>
    </select>
    <input type="date"
           formControlName="date"
    >
    </div>
    <div class="input-description">
    <input
           type="text"
           placeholder="Введите описание"
           formControlName="text"
    >
    </div>
  <input type="submit" (submit)="addTodo()" value="Добавить">
</form>
</div>
